html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  @include NeutrifStudio_Regular();
  @include font-size(18);
  @include media-breakpoint-up(md) {
    @include font-size(16);
  }
}
.content-wrap {
  flex: 1 0 auto;
}

.main {
  @include media-breakpoint-up(md) {
    padding-top: 3rem;
  }
  padding-bottom: 3rem;
}


p, ol, ul, dl {
    margin-bottom: 1.7em;
}

h1,
h3,
h4 {
    @include NeutrifStudio_Bold();
}

h1 {
  @include font-size(36);
  @include media-breakpoint-up(sm) {
    @include font-size(40);
  }
  @include media-breakpoint-up(lg) {
    @include font-size(48);
  }
}
h2 {
  @include PortraitText-Medium-Web();
  @include font-size(24);
  @include media-breakpoint-up(sm) {
    @include font-size(30);
  }
  @include media-breakpoint-up(lg) {
    @include font-size(36);
  }
}

h3 {
  @include font-size(18);
  @include media-breakpoint-up(sm) {
    @include font-size(20);
  }
  @include media-breakpoint-up(lg) {
    @include font-size(24);
  }
}
h4 {
  @include font-size(18);
}

img {
  width: 100%;
  height: auto;
}

.bold, b, strong {
    @include NeutrifStudio_Bold();
}

i, em {
    @include NeutrifStudio_RegularItalic();
}

i strong, i bold, em strong, em bold,
strong i, bold i, strong em, bold em {
  @include NeutrifStudio_BoldItalic();
}

/* Default link styles */
a:link, a:visited {
    text-decoration: none;
    color: map-get($theme-colors, 'primary');
}
a:hover, a:active, a:focus {
    text-decoration: underline;
    color: map-get($theme-colors, 'navyblack');
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe{
  border:0;
}

.inline-list {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
  }
}
.section-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}