html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  @include NeutrifStudio_Regular();
  @include font-size(18);
  @include media-breakpoint-up(md) {
    @include font-size(16);
  }
}
.content-wrap {
  flex: 1 0 auto;
}

.main {
  padding-bottom: 2rem;
  @include media-breakpoint-up(md) {
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  
}
.main-wrapper {
  /*default color */
  background-color: map-get($supporting-colors, 'lightg');
  /*if overwritten woithin page admin, use that color */
  &.lightbluegrey {
    background-color: map-get($page-colors,'lightbluegrey');
  }
  &.aqualight {
    background-color: map-get($page-colors,'aqualight');
  }
  &.palechartreuse {
    background-color: map-get($page-colors,'palechartreuse');
  }
  &.rosegold {
    background-color: map-get($page-colors,'rosegold');
  }
  &.quartz {
    background-color: map-get($page-colors,'quartz');
  }
}


p, ol, ul, dl {
    margin-bottom: 1.7em;
}

h3,
h4 {
    @include NeutrifStudio_Bold();
}

h1 {
  @include PortraitText-Medium-Web();
  @include font-size(36);
  @include media-breakpoint-up(sm) {
    @include font-size(40);
  }
  @include media-breakpoint-up(lg) {
    @include font-size(48);
  }
}
h2 {
  @include PortraitText-Medium-Web();
  @include font-size(24);
  @include media-breakpoint-up(sm) {
    @include font-size(30);
  }
  @include media-breakpoint-up(lg) {
    @include font-size(36);
  }
}

h3 {
  @include font-size(18);
  @include media-breakpoint-up(sm) {
    @include font-size(20);
  }
  @include media-breakpoint-up(lg) {
    @include font-size(24);
  }
}
h4 {
  @include font-size(18);
}

img, figure {
  max-width: 100%;
  height: auto;
}

.bold, b, strong {
    @include NeutrifStudio_Bold();
}

em, i {
    @include NeutrifStudio_RegularItalic();
}
i.fa {
  font-family: "FontAwesome" !important;
}

i strong, i bold, em strong, em bold,
strong i, bold i, strong em, bold em {
  @include NeutrifStudio_BoldItalic();
}

blockquote {
  @include Portrait-RegularItalic-Web();
  @include font-size(19);
  position: relative;
  margin-bottom: 1.7rem;
  @include media-breakpoint-up(md) {
    width:80%;
    margin: 0 auto 1.7rem auto;
  }
  /*&:before {
    content: "\201C";
    position: absolute;
    left: -10px;
  }*/
  p {
    margin-bottom: 0;
  }

}

/* Default link styles */
a:link, a:visited {
    text-decoration: none;
    color: map-get($theme-colors, 'primary');
}
a:hover, a:active, a:focus {
    text-decoration: underline;
    color: map-get($theme-colors, 'navyblack');
}


.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe{
  border:0;
}

.tooltip {
  @include font-size(12);
}
.inline-list {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
  }
}
.section-padding {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.break-string {
  word-break: break-all;
}

#CybotCookiebotDialog {
  -webkit-box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.1) !important;
  box-shadow: 0 -1px 10px 0 rgba(0,0,0,0.1) !important;
}
#CybotCookiebotDialogBodyButtonAccept {
  @extend .btn;
  @extend strong;
  padding-bottom: 12px !important;
  border: none !important;
  &:hover {
    border:none !important;
  }
}

.grecaptcha-badge {
  opacity: 0;
  pointer-events: none;
}

.top-link {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  height: 80px;
  width: 80px;
  color: map-get($theme-colors,'base');
  opacity: 0.5;
  text-align: center;
  padding-top: 13px;
  border-radius: 50%;
  &:hover {
      opacity:1;
      background-color: white;
    }
  .fa {
    @include font-size(48);
  }
}
