@mixin NeutrifStudio_Bold() { 
	font-family: NeutrifStudio-Bold, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_BoldItalic() { 
	font-family: NeutrifStudio-BoldItalic, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_Regular() { 
	font-family: NeutrifStudio-Regular, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_RegularItalic() { 
	font-family: NeutrifStudio-RegularItalic, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin icon() {
	font-family: FontAwesome;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0;
	position: absolute;
}