@mixin NeutrifStudio_Bold() { 
	font-family: NeutrifStudio-Bold;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_BoldItalic() { 
	font-family: NeutrifStudio-BoldItalic;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_Regular() { 
	font-family: NeutrifStudio-Regular;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_RegularItalic() { 
	font-family: NeutrifStudio-RegularItalic;
	font-weight: normal;
	font-style: normal;
}