@mixin NeutrifStudio_Bold() { 
	font-family: NeutrifStudio-Bold, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_BoldItalic() { 
	font-family: NeutrifStudio-BoldItalic, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_Regular() { 
	font-family: NeutrifStudio-Regular, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}
@mixin NeutrifStudio_RegularItalic() { 
	font-family: NeutrifStudio-RegularItalic, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-style: normal;
}

@mixin Portrait-RegularItalic-Web() {
  font-family: 'Portrait Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

@mixin PortraitText-Medium-Web() {
  font-family: 'Portrait-Text-Web';
  font-weight:  600;
  font-style:   normal;
  font-stretch: normal;
}
@mixin icon() {
	font-family: "FontAwesome";
	line-height: 1;
	font-style: normal;
  	font-variant: normal;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-indent: 0;
	position: absolute;
}