/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #5F51E4, //used by bootstrap?
  blueberry: #5F51E4,
  peach: #FA8561,
  grape: #9D3C7B,
  gold: #D19123,
  ocean: #378BAC,
  base: #1A1A1A,
  navyblack: #3C4A68
);
$supporting-colors: (
  nude: #EFECE1,
  pear: #D0EFEB,
  dragonfruit: #CC75A9, 
  nightsky: #1A1A1A,
  smoke: #8492A6,
  steal: #C0CCDA,
  ocean: #8FDBF9,
  cadet: #60B0CF,
  lightg: #E5E9F2,
  mediumlightg: #c7cfe1,
  superlightg: #F9FAFC
);
$button-colors: (
  blueberry: #5F51E4,
  blueberry-highlight: #4234C4,
  coralred: #FF3C38,
  coralred-highlight: #CE312E,
  kiwi: #6DE0C1,
  kiwi-highlight: #18C596,
  smoky: #8492A6,
  smoky-highlight: #697585,
  navyblack: #3C4A68,
  navyblack-highlight:#273042
);

/* image path */
$image-path: '../images' !default;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;