.btn {
	padding: 0.6rem 1rem 0.4rem;
	letter-spacing:0.2px;
	@extend strong;
	color: white;
	&.big {
		padding: 0.9rem 1.4rem 0.8rem;
		@include font-size(24);
	}
	&.primary {
		background-color: map-get($button-colors, 'blueberry');
		box-shadow: 0 3px map-get($button-colors, 'blueberry-highlight');
	}

	&.coralred {
		background-color: map-get($button-colors, 'coralred');
		box-shadow: 0 3px map-get($button-colors, 'coralred-highlight');
	}

	&.kiwi {
		background-color: map-get($button-colors, 'kiwi');
		box-shadow: 0 3px map-get($button-colors, 'kiwi-highlight');
	}

	&.smoky {
		background-color: map-get($button-colors, 'smoky');
		box-shadow: 0 3px map-get($button-colors, 'smoky-highlight');
	}

	&.navyblack {
		background-color: map-get($button-colors, 'navyblack');
		box-shadow: 0 3px map-get($button-colors, 'navyblack-highlight');
	}

	&:link, &:visited, &:hover, &:focus, &:active {
		color:white;
		text-decoration: none;
	}
	&:hover {
		background-color: map-get($button-colors, 'navyblack');
		box-shadow: 0 3px map-get($button-colors, 'navyblack-highlight');
	}
}

.share {
	margin-bottom: 3rem;
	.share-options {
		.share-channel {
			display: inline-block;
			a {
				display: block;
				@extend .btn;
				@extend .smoky;
				color: white;
			}
		}
	}
}