/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
  @include NeutrifStudio_Regular();
  height: calc(1.8em + 0.75rem + 2px);
}

.search-form .search-submit {
  @extend .btn;
  @extend .smoky;
}


/* Form fields default styles */
.select-field {
  border-radius: 5px;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:-ms-expand {
      display: none;
  }
  &:after {
      margin-left:15px;
      vertical-align: 0.1em;
      @include icon();
      content: '\f107';
      @include font-size(24);
      border:none;
  }
  &--small {
    background-color: map-get($supporting-colors, 'lightg');
    background-image: url('#{$image-path}/arrow-down-blueberry.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 90% 50%;
    border:none;
    padding: 0.5rem 1rem;
    @include font-size(14);
    &:after {
      vertical-align: 0.1em;
      @include font-size(18);
    }
  }

}

/*Google Translate Widget */
.goog-te-gadget .goog-te-combo {
    margin: 0 4px !important;
}
.goog-te-combo {
  @extend .select-field;
  @extend .select-field--small;
  color: map-get($theme-colors, 'blueberry');
}
.goog-te-gadget {
	display: flex;
	align-items: center;
	font-size: 10px !important;
	font-weight: normal !important;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
	font-size: 10px !important;
	color: map-get($supporting-colors, 'lightg');
	img {
		padding-left: 3px;
    	margin-top: 4px;
    	width: auto !important;
	}
}


