/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
  @include NeutrifStudio_Regular();
  height: calc(1.8em + 0.75rem + 2px);
}

.search-form .search-submit {
  @extend .btn;
  @extend .smoky;
}


/* Form fields default styles */
.input-field,
.select-field {
  border-radius: 5px;

  &--small {
    background-color: map-get($supporting-colors, 'lightg');
  }

}

/*Google Translate Widget */
.goog-te-gadget .goog-te-combo {
    margin: 0 4px !important;
}
.goog-te-gadget {
	display: flex;
	align-items: center;
	font-size: 10px !important;
	font-weight: normal !important;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
	font-size: 10px !important;
	color: map-get($supporting-colors, 'lightg');
	img {
		padding-left: 3px;
    	margin-top: 4px;
    	width: auto !important;
	}
}


