/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
  @include NeutrifStudio_Regular();
  height: calc(1.8em + 0.75rem + 2px);
  width: 100%;
}

.search-form .search-submit {
  @extend .btn;
  @extend .smoky;
  margin-top: 0.5rem;
}
.search-form label {
  width: 100%;
}


/* Form fields default styles */
.select-field, .input-field {
  background-color: map-get($supporting-colors, 'lightg');
  border:none;
  border-radius: 5px;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:-ms-expand {
      display: none;
  }
  padding: 0.8rem;
}
.select-field {
  /* for non select html-selects*/
  &:after {
      right:15px;
      vertical-align: 0.1em;
      @include icon();
      content: '\f107';
      @include font-size(24);
      border:none;
  } 
  background-image: url('#{$image-path}/arrow-down-blueberry.png');
  background-repeat: no-repeat;
  background-position: 
    calc(100% - 15px) 50%,
    calc(100% - 10px) 50%,
    95% 0;
  background-size:18px;
  padding-right:3.3rem;
  
  &:after {
    vertical-align: 0.1em;
    @include font-size(18);
  }

   &--small {
    @include font-size(14);
    background-size: 10px;
    padding: .5rem 1rem;
    &:after {
      vertical-align: 0.1em;
      @include font-size(18);
    }
   }
   &--white {
    background-color: white;
  }

}

.input-field {
  width: 100%;
  &--white {
    background-color: white;
  }
}
.input--hidden {
  display: none;
}
label {
  margin-bottom: 0;
}



/*Google Translate Widget */
.goog-te-gadget .goog-te-combo {
    margin: 0 4px 0 0 !important;
}
.goog-te-combo {
  @extend .select-field;
  @extend .select-field--small;
  color: map-get($theme-colors, 'blueberry');
}
.goog-te-gadget {
	display: flex;
	align-items: center;
	font-size: 10px !important;
	font-weight: normal !important;
}
.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
	font-size: 10px !important;
	color: map-get($supporting-colors, 'lightg');
	img {
		padding-left: 3px;
    	margin-top: 4px;
    	width: auto !important;
	}
}
/* //END */

/*<+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+>*/
/* send in blue */
.progress-indicator{-webkit-align-items:center;align-items:center;background:hsla(0,0%,100%,.9);display:-webkit-flex;display:flex;height:100%;-webkit-justify-content:center;justify-content:center;width:100%}
.progress-indicator .progress-indicator__icon{fill:#fff;height:2rem;width:2rem}
.progress-indicator_small .progress-indicator__icon{height:1rem;width:1rem}
.progress-indicator__icon{
    width: 15px;
    height: 15px;
    margin-right: 1rem;
    margin-top: -4px;
    fill: #ffffff;
  -webkit-animation:indicator-spin 1.3s cubic-bezier(.46,.35,.39,.85) infinite;animation:indicator-spin 1.3s cubic-bezier(.46,.35,.39,.85) infinite}@-webkit-keyframes indicator-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes indicator-spin{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}
.form__entry {
  margin-top: 0.5rem;
}
.sib-form-message-panel {
  display: none;
  &--active {
    display: block;
  }
}
.sib-hide-loader-icon {
  display: none;
}
/* //END SEND IN BLUE */

/*<+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+>*/
/* CONTACT FORM OVERWRITES*/
.af-form {
  .acf-hidden, .af-field-contact-validate-email, .name-group .af-label {
    display: none;
  }
  .name-group .acf-fields {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .acf-field {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 48%;
      }
    }
  }
  .acf-field {
    margin-bottom: 1rem;
  }
  .acf-notice  {
    p {
      margin-bottom: 0;
    }
    &.-error {
      @extend .alert;
      @extend .alert-danger;
    }
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    @extend .input-field;
    @extend .input-field--white;
  }
  select {
    @extend .select-field;
    @extend .select-field--white;
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 48%;
    }
  }
  button {
     @extend .btn;
     @extend .coralred;
  }
}
/* //END Contact form */


/* DONATION FORM */
#mongo-form {
  .BBFormContainer {
    border-radius: 0;
    padding: 0;
  }
  .BBFormSectionHeading {
    padding:0;
    label {
      @extend h3;
    }
  }
  select, .BBFormSelectList {
    @extend .select-field;
    @extend .select-field--white;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    @extend .input-field;
    @extend .input-field--white;
  }
  label {
    margin-top: 7px;
  }
  .BBFormSubmitbutton, .BBFormSubmitbuttonEdit {
    @extend .btn;
    @extend .big;
    @extend .kiwi;
    width: auto;
  }
}
/* //END DONATION FORM */

/*<+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+><+>*/
/* FIND A MEETING FORMS*/
.template-find-a-meeting .find-a-meeting-form {
  width: 100%;
  margin-top: 30px;
  @include media-breakpoint-up(md) {
    width: 50%;
  }
}
.find-a-meeting-form {
  &--header {
    h3 {
      display: none;
    }
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    @extend .input-field;
    @extend .input-field--white;
    width: 100%;
  }
  input[type="submit"],
  input[type="button"],
  #review-meeting, #go-back {
    @extend .btn;
    @extend .coralred;
    width: auto;
  }
  input#registration-policy-decline, #review-meeting, #go-back {
    @extend .smoky;
  }
  /*input.intergroup-input {
    width: 200px;
  }*/

  legend {
    @extend h3;
  }
  select {
    @extend .select-field;
    @extend .select-field--white;
    width: 100%;
  }
  label {
    margin-bottom: 5px;
  }
  i.fas {
    @include font-size(12);
  }
  .find-a-meeting-form--search-fields,
  .find-a-meeting-form--manage-fields {
    margin-bottom: 15px;
    &.submit-search {
      margin-top: 2rem;
    }
    &.flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      select, input {
        margin-right: 10px;
      }
    }
  }
  .findameeting-location {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    &--option {
      margin-right: 15px;
      input {
        margin-right: 5px;
      }
    }
    label {
      width: 100%;
    }
    &.service-bodies,
    &.edit-search {
      .fam-select {
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
      }
    }
  }
  
  .advanced-options {
    &:after {
      padding-left: 10px;
      padding-top: 3px;
      vertical-align: 0.1em;
      @include icon();
      content: '\f107';
    }
    &.open {
      &:after {
        vertical-align: 0.1em;
        @include icon();
        content: '\f106';
      }
    }
  }
  .reset {
    margin-left: 15px;
    @include font-size(12);
  }
  .formseconds { //TEMP
    &.processing {
      background-image: url('#{$image-path}/ajax-loader.gif');
      background-repeat: no-repeat;
      background-position: 10% 50%;
      background-size:18px;
      padding-left: 50px;
    }
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .half_width_input_left, .half_width_input_right {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 48%;
      }
    }
  }
  .review-panel {
    label {
      @extend strong;
      margin-bottom: 0;
      display: inline-block !important;
    }
    .review-data {
      margin-bottom: 1rem;
    }
  }
}

/* //END FIND A MEETING FORMs */


