.search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 988;
    pointer-events: none;
    @include transition(all .3s ease)
    &.open {
        background-color: map-get($supporting-colors, 'lightg');
        pointer-events:all;
    }
    .search {          
        position: absolute;
        top: 8px;
        right: 0;
        &.open {
            width: 100%;
        }
        
        .search-form {
            display: none;
            @extend .container;
            &.open {
                display: block;
            }

            .search-field {
                width: 100%;
                border:none;
                background:none;
                border-radius: 0;
            }
            .search-submit {
                display: none;
            }
        }
    }
}
/*shift down if admin bar is present
.admin-bar .search-wrapper {
    top: 31px;
}*/


.country-select {
    border-bottom: none;

    .dropdown-toggle {
        @extend .select-field;
        @extend .select-field--small;
        display: block;
        background-repeat: no-repeat;
        background-position: 15px center;
        background-size: 25px;
        padding-left: 50px;
        padding-right: 40px;
        padding-bottom: 0px;
        
        @include media-breakpoint-up(lg) {
             max-width: 125px;
        }
        @include media-breakpoint-up(xl) {
             max-width: 160px;
        }
       
        span {
            max-width: 100%;
            overflow: hidden;
            display: inline-block;
        }
    }
    .dropdown-menu {
        @extend .container;
        @include media-breakpoint-up(md) {
            width: 720px;
        }
        @include media-breakpoint-up(lg) {
            width: 960px;
        }
        @include media-breakpoint-up(xl) {
            width: 1140px;
        }
      
        z-index: 100000;
        background-color: map-get($supporting-colors, 'lightg');
        &.show {
            display: flex;
            flex-wrap: wrap;
            top:12px !important;
            padding-top: 50px;
            background-color:map-get($supporting-colors, 'mediumlightg') !important;
            border-color: map-get($supporting-colors, 'mediumlightg') !important;
        }
    }
    &--countries {
        padding-bottom: 0.75rem; /* need this here so the colors connects with dropdown */
        max-width: 100%;
        &.show {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            background-color: map-get($supporting-colors, 'mediumlightg') !important;
            border-color: map-get($supporting-colors, 'mediumlightg') !important;
            
            .dropdown-toggle {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                background-color: map-get($supporting-colors, 'mediumlightg') !important;
                border-color: map-get($supporting-colors, 'mediumlightg') !important;
            }
        }
    }
    &--statement {
        display: none;
        @include media-breakpoint-up(lg) {
            display: list-item;
        }
        @include font-size(12);
        line-height: normal;
        padding: 0.4rem 0 0 0.5rem;
        color: map-get($theme-colors, 'navyblack');
    }
    .country {
        margin-right: 50px;
        margin-bottom: 40px;
        a {
            background-position: top center;
            background-repeat: no-repeat;
            background-size: 85px;
            width: 85px;
            display: block;
            padding-top: 54px;
            text-align: center;
            @include font-size(12);
            line-height: normal;
        }
        &--AFG {
            background-image: url('#{$image-path}/flags/AFG.svg');     
        }
        &--ALB {
            background-image: url('#{$image-path}/flags/ALB.svg');  
        }
        &--AND {
            background-image: url('#{$image-path}/flags/AND.svg');  
        }
        &--ARE {
            background-image: url('#{$image-path}/flags/ARE.svg');  
        }
        &--ARG {
            background-image: url('#{$image-path}/flags/ARG.svg');  
        }
        &--ARM {
            background-image: url('#{$image-path}/flags/ARM.svg');  
        }
        &--ATG {
            background-image: url('#{$image-path}/flags/ATG.svg');  
        }
        &--AUS {
            background-image: url('#{$image-path}/flags/AUS.svg');  
        }
        &--AUT {
            background-image: url('#{$image-path}/flags/AUT.svg');  
        }
        &--AZE {
            background-image: url('#{$image-path}/flags/AZE.svg');  
        }
        &--BEL {
            background-image: url('#{$image-path}/flags/BEL.svg');  
        }
        &--BEN {
            background-image: url('#{$image-path}/flags/BEN.svg');  
        }
        &--BGD {
            background-image: url('#{$image-path}/flags/BGD.svg');  
        }
        &--BGR {
            background-image: url('#{$image-path}/flags/BGR.svg');  
        }
        &--BHS {
            background-image: url('#{$image-path}/flags/BHS.svg');  
        }
        &--BIH {
            background-image: url('#{$image-path}/flags/BIH.svg');  
        }
        &--BRA {
            background-image: url('#{$image-path}/flags/BRA.svg');  
        }
        &--BRN {
            background-image: url('#{$image-path}/flags/BRN.svg');  
        }
        &--BTN {
            background-image: url('#{$image-path}/flags/BTN.svg');  
        }
        &--BWA {
            background-image: url('#{$image-path}/flags/BWA.svg');  
        }
        &--CAF {
            background-image: url('#{$image-path}/flags/CAF.svg');  
        }
        &--CAN {
            background-image: url('#{$image-path}/flags/CAN.svg');  
        }
        &--CHE {
            background-image: url('#{$image-path}/flags/CHE.svg');  
        }
        &--CHL {
            background-image: url('#{$image-path}/flags/CHL.svg');  
        }
        &--CHN {
            background-image: url('#{$image-path}/flags/CHN.svg');  
        }
        &--CIV {
            background-image: url('#{$image-path}/flags/CIV.svg');  
        }
        &--COG {
            background-image: url('#{$image-path}/flags/COG.svg');  
        }
        &--COL {
            background-image: url('#{$image-path}/flags/COL.svg');  
        }
        &--CRI {
            background-image: url('#{$image-path}/flags/CRI.svg');  
        }
        &--CYP {
            background-image: url('#{$image-path}/flags/CYP.svg');  
        }
        &--CZE {
            background-image: url('#{$image-path}/flags/CZE.svg');  
        }
        &--DEU {
            background-image: url('#{$image-path}/flags/DEU.svg');  
        }
        &--DJI {
            background-image: url('#{$image-path}/flags/DJI.svg');  
        }
        &--DNK {
            background-image: url('#{$image-path}/flags/DNK.svg');  
        }
        &--DZA {
            background-image: url('#{$image-path}/flags/DZA.svg');  
        }
        &--ECU {
            background-image: url('#{$image-path}/flags/ECU.svg');  
        }
        &--EGY {
            background-image: url('#{$image-path}/flags/EGY.svg');  
        }
        &--ESP {
            background-image: url('#{$image-path}/flags/ESP.svg');  
        }
        &--EST {
            background-image: url('#{$image-path}/flags/EST.svg');  
        }
        &--FIN {
            background-image: url('#{$image-path}/flags/FIN.svg');  
        }
        &--FRA {
            background-image: url('#{$image-path}/flags/FRA.svg');  
        }
        &--GBR {
            background-image: url('#{$image-path}/flags/GBR.svg');  
        }
        &--GEO {
            background-image: url('#{$image-path}/flags/GEO.svg');  
        }
        &--GHA {
            background-image: url('#{$image-path}/flags/GHA.svg');  
        }
        &--GRC {
            background-image: url('#{$image-path}/flags/GRC.svg');  
        }
        &--GRD {
            background-image: url('#{$image-path}/flags/GRD.svg');  
        }
        &--GTM {
            background-image: url('#{$image-path}/flags/GTM.svg');  
        }
        &--GUY {
            background-image: url('#{$image-path}/flags/GUY.svg');  
        }
        &--HRV {
            background-image: url('#{$image-path}/flags/HRV.svg');  
        }
        &--HTI {
            background-image: url('#{$image-path}/flags/HTI.svg');  
        }
        &--HUN {
            background-image: url('#{$image-path}/flags/HUN.svg');  
        }
        &--IDN {
            background-image: url('#{$image-path}/flags/IDN.svg');  
        }
        &--IRL {
            background-image: url('#{$image-path}/flags/IRL.svg');  
        }
        &--IRQ {
            background-image: url('#{$image-path}/flags/IRQ.svg');  
        }
        &--ISL {
            background-image: url('#{$image-path}/flags/ISL.svg');  
        }
        &--ISR {
            background-image: url('#{$image-path}/flags/ISR.svg');  
        }
        &--ITA {
            background-image: url('#{$image-path}/flags/ITA.svg');  
        }
        &--JAM {
            background-image: url('#{$image-path}/flags/JAM.svg');  
        }
        &--JPN {
            background-image: url('#{$image-path}/flags/JPN.svg');  
        }
        &--KAZ {
            background-image: url('#{$image-path}/flags/KAZ.svg');  
        }
        &--KEN {
            background-image: url('#{$image-path}/flags/KEN.svg');  
        }
        &--KOR {
            background-image: url('#{$image-path}/flags/KOR.svg');  
        }
        &--KWT {
            background-image: url('#{$image-path}/flags/KWT.svg');  
        }
        &--LAO {
            background-image: url('#{$image-path}/flags/LAO.svg');  
        }
        &--LBN {
            background-image: url('#{$image-path}/flags/LBN.svg');  
        }
        &--LCA {
            background-image: url('#{$image-path}/flags/LCA.svg');  
        }
        &--LIE {
            background-image: url('#{$image-path}/flags/LIE.svg');  
        }
        &--LKA {
            background-image: url('#{$image-path}/flags/LKA.svg');  
        }
        &--LTU {
            background-image: url('#{$image-path}/flags/LTU.svg');  
        }
        &--LUX {
            background-image: url('#{$image-path}/flags/LUX.svg');  
        }
        &--LVA {
            background-image: url('#{$image-path}/flags/LVA.svg');  
        }
        &--MAR {
            background-image: url('#{$image-path}/flags/MAR.svg');  
        }
        &--MCO {
            background-image: url('#{$image-path}/flags/MCO.svg');  
        }
        &--MDA {
            background-image: url('#{$image-path}/flags/MDA.svg');  
        }
        &--MDG {
            background-image: url('#{$image-path}/flags/MDG.svg');  
        }
        &--MDV {
            background-image: url('#{$image-path}/flags/MDV.svg');  
        }
        &--MEX {
            background-image: url('#{$image-path}/flags/MEX.svg');  
        }
        &--MLI {
            background-image: url('#{$image-path}/flags/MLI.svg');  
        }
        &--MLT {
            background-image: url('#{$image-path}/flags/MLT.svg');  
        }
        &--MMR {
            background-image: url('#{$image-path}/flags/MMR.svg');  
        }
        &--MNE {
            background-image: url('#{$image-path}/flags/MNE.svg');  
        }
        &--MNG {
            background-image: url('#{$image-path}/flags/MNG.svg');  
        }
        &--MOZ {
            background-image: url('#{$image-path}/flags/MOZ.svg');  
        }
        &--MYS {
            background-image: url('#{$image-path}/flags/MYS.svg');  
        }
        &--NAM {
            background-image: url('#{$image-path}/flags/NAM.svg');  
        }
        &--NGA {
            background-image: url('#{$image-path}/flags/NGA.svg');  
        }
        &--NLD {
            background-image: url('#{$image-path}/flags/NLD.svg');  
        }
        &--NOR {
            background-image: url('#{$image-path}/flags/NOR.svg');  
        }
        &--NZL {
            background-image: url('#{$image-path}/flags/NZL.svg');  
        }
        &--OMN {
            background-image: url('#{$image-path}/flags/OMN.svg');  
        }
        &--PAK {
            background-image: url('#{$image-path}/flags/PAK.svg');  
        }
        &--PAN {
            background-image: url('#{$image-path}/flags/PAN.svg');  
        }
        &--PER {
            background-image: url('#{$image-path}/flags/PER.svg');  
        }
        &--PHL {
            background-image: url('#{$image-path}/flags/PHL.svg');  
        }
        &--POL {
            background-image: url('#{$image-path}/flags/POL.svg');  
        }
        &--PRT {
            background-image: url('#{$image-path}/flags/PRT.svg');  
        }
        &--PRY {
            background-image: url('#{$image-path}/flags/PRY.svg');  
        }
        &--QAT {
            background-image: url('#{$image-path}/flags/QAT.svg');  
        }
        &--ROU {
            background-image: url('#{$image-path}/flags/ROU.svg');  
        }
        &--RUS {
            background-image: url('#{$image-path}/flags/RUS.svg');  
        }
        &--SAU {
            background-image: url('#{$image-path}/flags/SAU.svg');  
        }
        &--SGP {
            background-image: url('#{$image-path}/flags/SGP.svg');  
        }
        &--SLV {
            background-image: url('#{$image-path}/flags/SLV.svg');  
        }
        &--SMR {
            background-image: url('#{$image-path}/flags/SMR.svg');  
        }
        &--SRB {
            background-image: url('#{$image-path}/flags/SRB.svg');  
        }
        &--SVK {
            background-image: url('#{$image-path}/flags/SVK.svg');  
        }
        &--SVN {
            background-image: url('#{$image-path}/flags/SVN.svg');  
        }
        &--SWE {
            background-image: url('#{$image-path}/flags/SWE.svg');  
        }
        &--SYR {
            background-image: url('#{$image-path}/flags/SYR.svg');  
        }
        &--THA {
            background-image: url('#{$image-path}/flags/THA.svg');  
        }
        &--TJK {
            background-image: url('#{$image-path}/flags/TJK.svg');  
        }
        &--TLS {
            background-image: url('#{$image-path}/flags/TLS.svg');  
        }
        &--TTO {
            background-image: url('#{$image-path}/flags/TTO.svg');  
        }
        &--TUN {
            background-image: url('#{$image-path}/flags/TUN.svg');  
        }
        &--TUR {
            background-image: url('#{$image-path}/flags/TUR.svg');  
        }
        &--TUV {
            background-image: url('#{$image-path}/flags/TUV.svg');  
        }
        &--UAE {
            background-image: url('#{$image-path}/flags/UAE.svg');  
        }
        &--UKR {
            background-image: url('#{$image-path}/flags/UKR.svg');  
        }
        &--UNF {
            background-image: url('#{$image-path}/flags/UNF.svg');  
        }
        &--URY {
            background-image: url('#{$image-path}/flags/URY.svg');  
        }
        &--USA {
            background-image: url('#{$image-path}/flags/USA.svg');  
        }
        &--VAT {
            background-image: url('#{$image-path}/flags/VAT.svg');  
        }
        &--VEN {
            background-image: url('#{$image-path}/flags/VEN.svg');  
        }
        &--VNM {
            background-image: url('#{$image-path}/flags/VNM.svg');  
        }
        &--WSM {
            background-image: url('#{$image-path}/flags/WSM.svg');  
        }
        &--ZAF {
            background-image: url('#{$image-path}/flags/ZAF.svg');  
        }     

    }
}


/*country and language selects for overlay nav */
.country-select-mobile,
.language-select-mobile {
    margin-top: 1rem;
    border-top: 2px solid map-get($supporting-colors, 'lightg');
    padding-top: 1rem;
    @include media-breakpoint-up(md) {
        display: none;
    }
}
.country-select-mobile {
    margin-top: 3rem;
    .country-select {
        &--countries {
            width: 100%;
        }
        .dropdown-menu.show {
            padding-top: 25px;
        }
        .country {
            margin-right: 25px;
            margin-bottom: 25px;
            a {
                background-size: 55px;
                min-width: 55px;
                padding-top: 39px;
            }
        }
    }
   
}
.language-select-mobile {
    
}
/* END */


.popover {
   z-index: 100001;
}
.banner {
    margin-bottom: 3rem;
    .hat {
        padding-top: 0.5rem;
        border-bottom: 1px solid map-get($supporting-colors, 'lightg');
        @include font-size(14);
        /*header nav*/
        .menu-header-navigation-container {
            text-align: right;
            padding-right: 45px;
            display: none;
            @include media-breakpoint-up(lg) {
                display: block;
            }
            .menu {
                padding-top: 0.5rem;
                margin-bottom: 0;
                @extend .inline-list;
                li {
                    padding: 0 0 0 1rem;
                }
            }
        }
        display:none;
        @include media-breakpoint-up(md) {
            display: block;
        }

        .tools {
            position: relative;
        }
        .header-navigation-wrapper {
            position: relative;
            display: flex;
            justify-content: flex-end;
            .search-toggle {
                &--btn {
                    position: absolute;
                    padding-right: 25px;
                    top: 8px;
                    right: 15px;
                    z-index: 988;
                    &:before {
                        @include icon();
                        content: "\f002";
                        @include font-size(16);
                    }

                    &.open:before {
                        content: "\f057";
                        top: 3px;
                    }
                }
            }
        }
    }

    .btn {

    }

    .brand-nav {
        padding-top: 1rem;
        .custom-logo {
            width: 100%;
            height: auto;
            image-rendering: -moz-crisp-edges;
            image-rendering: -o-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: crisp-edges;

            @include media-breakpoint-up(md) {
                width: 230px;
                height: 63px;
            }
            position: relative;
            z-index: 10001;
        }
       
        .nav-primary {
            text-align: right;
            .widget {
                display: none;
                @include media-breakpoint-up(md) {
                    display: inline-block;
                }
                h3 {
                    display: none;
                }
            }
            .overlay-toggle {
                z-index: 10002;
                position: relative;
                margin-left: 20px;
                float: right;
                a {
                    display: block;
                    height: 45px;
                    width: 45px;
                    transition: all 0.3s;
                    background-image: url("../images/icon-hamburger.svg");
                    background-size: 35px;
                    @include media-breakpoint-up(sm) {
                        background-size: 45px;
                    }
                    background-repeat: no-repeat;
                    background-position: top center;
                }
                .open {
                    background-image: url("../images/icon-hamburger-close.svg");
                    background-size: 35px;
                    @include media-breakpoint-up(sm) {
                        background-size: 45px;
                    }
                    background-repeat: no-repeat;
                    background-position: top center;
                }
            }
        }
    }

}

.overlay-nav {
    display: none;
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 1000;
    background: map-get($supporting-colors,'steal');
    left: 0;
    top: 0;
    padding-top: 140px;
    padding-bottom: 5rem;
    @include media-breakpoint-up(sm) {
        padding-top: 26px;
    }
    
    .overlay-toggle {
        position: absolute;
        right: 15px;
        top: 90px;
        display: none;
        @include media-breakpoint-up(sm) {
            display: inline-block;
            top: 30px;
        }
        @include media-breakpoint-up(md) {
            top: 75px;
        }
        @include media-breakpoint-up(lg) {
            top: 90px;
        }
        /*a {
            display: block;
            height: 40px;
            width: 40px;
            background: url("../images/icon-close-white.svg") center right no-repeat;
        }*/
    }
    a {
        color: map-get($supporting-colors,'base');;
    }
    .row {
        justify-content: center !important;
    }

    .widget {
        h3 {
            display: none;
        }
    }
    .wrapper {
        padding: 0;
        @include make-col-ready();
        @include media-breakpoint-up(sm) {
            @include make-col(12);
            margin-top: 5rem;
        }
        @include media-breakpoint-up(md) {
            margin-top: 15rem;
        }
    }
    /*.site-search {
        padding: 0 20px 0;
        border-bottom: 3px solid map-get($theme-colors, 'base');
        position: relative;
        margin-bottom: 45px;
        @include media-breakpoint-up(lg) {
            padding: 0 30px 0;
        }
        label {
            margin-bottom: 0;
            width: 100%;
        }
        .search-field {
            background: transparent;
            color: white;
            width: 100%;
            @include font-size(18);
            @include media-breakpoint-up(md) {
                @include font-size(24);
            }
            @include media-breakpoint-up(lg) {
                @include font-size(28);
            }
        }
        .search-submit {
            display: none;
        }
        .search-field:focus {
            color: white;
            background-color: transparent;
            border-color: transparent;
            outline: none;
        }
        .search-field::-webkit-input-placeholder {
            color: white;
        }
        .search-field:-moz-placeholder {
            color: white;
            opacity: 1;
        }
        .search-field::-moz-placeholder {
            color: white;
            opacity: 1;
        }
        .search-field:-ms-input-placeholder {
            color: white;
        }
        .search-field::placeholder {
            color: white;
        }
    }
    .site-search:before {
        @include icon();
        content: "\f002";
        @include font-size(20);
        left: 0;
        top: 50%;
        margin-top: -10px;
        @include media-breakpoint-up(lg) {
            @include font-size(28);
            margin-top: -14px;
        }
    }*/
    .menu-primary-navigation-container {
        margin-bottom: 30px;
        .menu {
            list-style: none;
            padding: 0;
            li {
                @include font-size(18);
                @include NeutrifStudio_Bold();
                @include media-breakpoint-up(md) {
                    @include font-size(24);
                }
                @include media-breakpoint-up(lg) {
                    @include font-size(36);
                }
                border-bottom: 2px solid map-get($theme-colors, 'base');
                padding:10px 0;
                a {
                    display: inline-block;
                    width: 100%;
                    line-height: normal;
                    padding-right: 25px;
                    color: map-get($theme-colors, 'base');
                }
                &.current-menu-item {
                    a {
                        color: map-get($theme-colors, 'gold');
                    }
                }
            }
            .menu-item-has-children {
                ul {
                    display: none;
                }
                a {
                    position: relative;
                }
                a:before {
                    transition: all 0.3s;
                    font-family: FontAwesome;
                    font-size: 20px;
                    line-height: 1;
                    color: map-get($theme-colors, 'base');;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    text-indent: 0;
                    content: "\f078";
                    position: absolute;
                    right: 0;
                    top: 50%;
                    margin-top: -13px;
                }
            }
            .menu-item-has-children.open {
                a:before {
                    -ms-transform: rotate(180deg);
                    /* IE 9 */
                    -webkit-transform: rotate(180deg);
                    /* Chrome, Safari, Opera */
                    transform: rotate(180deg);
                }

            }
            .sub-menu {
                list-style: none;
                padding: 0 0 10px 17px;
                li {
                    border: 0;
                    @include NeutrifStudio_Regular();
                    @include font-size(16);
                    line-height: normal;
                    padding:8px 0;
                    @include media-breakpoint-up(md) {
                        @include font-size(24);
                    }
                    @include media-breakpoint-up(lg) {
                        @include font-size(30);
                    }
                    a {
                        line-height: normal;
                        &:before {
                            display: none;
                        }
                    }
                    &.current_page_item a {
                        color: map-get($theme-colors, 'gold');
                    }
                }
            }
        }
    }
    .supporting-nav {
        @extend .inline-list;
        li {
            @include font-size(18);
            display: block;
            @include media-breakpoint-up(lg) {
                @include font-size(24);
                display: inline-block;
                margin-right: 1rem;
            }
            a {
                color:map-get($theme-colors, 'base');
                width: 100%;
                line-height: 40px;
            }
        }
    }
}

.page-header {
    padding-top: 3rem;
    @include media-breakpoint-up(md) {
        padding-top: 0;
    }
}