.home {
	.main {
  		padding-bottom: 0;
	}
	.signups {
		@extend .section-padding;
		background-color: map-get($supporting-colors,'steal');
		&--form {
			margin-bottom: 4rem;
			@include media-breakpoint-up(md) {
				margin-bottom: 0;
			}
		}
	}
	.podcasts {
		@extend .section-padding;
		padding-bottom: 0;
		
		.unveil-bg {
			background-repeat: no-repeat;
    		background-position: center top;
    		background-size: auto 180px;
    		height: 200px;
    		@include media-breakpoint-up(md) {
    			background-size: 100%;
    			height: auto;
    		}
		}
		&--callout {
			padding-bottom: 3rem;
		}
		/*&--image {
			display: none;
			@include media-breakpoint-up(md) {
				display: block;
			}
		}*/
	}
	.news {
		@extend .section-padding;
		background-color: map-get($supporting-colors,'pear');
		.newsrow {
			&--callout {
				padding-bottom: 2rem;
				@include media-breakpoint-up(md) {
					padding-bottom: 0;
				}
			}
			&--latest {
				@include media-breakpoint-up(md) {
					margin-top:75px;
				}
			}
		}
	}
}

.callout {
	
    .h2, .title {
    	font-size: 2rem;
		line-height: normal;
    	@include media-breakpoint-up(lg) {
			font-size: 4rem;
			line-height: 4rem;
		}
		
	}
	.title {
		@include NeutrifStudio_Bold();
		@include font-size(48);
		line-height: 3rem;
		@include media-breakpoint-up(lg) {
			@include font-size(64);
			line-height: 4rem;
		}
	}
	.copy {
		margin: 2rem 0;
	}
}

.slick-slider {
	/*margin-top: 2rem;*/
	.slick-track {
		padding-bottom: 1rem;

		.slick-slide {

			.hero {
				
			}
			.slide-wrapper {
				background-repeat: no-repeat;
				background-position: center top;
    			background-size: auto 180px;
				@include media-breakpoint-up(lg) {
					background-position: 100%;
					background-size: contain;
				}
				&.img-exists {
					.title {
						margin-top: 150px;
						@include media-breakpoint-up(lg) {
							margin-top: 0;
						}
					}
				}
			}
			.callout {
				padding: 4rem 0;
				@include media-breakpoint-up(lg) {
					padding: 2rem 0;
				}
			}
		}
	}
	.slick-dots{
		@extend .inline-list;
		text-align: center;
		li {
			vertical-align: top;
			margin:0 5px;
			button {
				text-indent: -99999px;
				overflow: hidden;
				border-radius: 50%;
				padding: 0;
				border:2px solid map-get($supporting-colors, 'smoke');
				height: 20px;
				width: 20px;
				background-color: white;
				outline: none;
				@include transition(all .3s ease);
				&:hover {
					background-color: map-get($supporting-colors, 'smoke');
				}
			}
			&.slick-active {
				button {
					border:6px solid white;
					background-color: map-get($supporting-colors, 'smoke');
				}
			}
		}
	}
	
}

/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/*Podcasts listing */
.template-podcast-listing {
	.styled-select, h4 {
		display: inline-block;
		margin-right:1rem;
	}
	h4 {
		vertical-align: -webkit-baseline-middle;
		margin-bottom: 0;
	}
	.podcast-order {
		padding-right: 5rem;
	}
	.podcast-listing-wrapper {
		.content-item {
			margin-top: 1.5rem;
			padding-top: 1.5rem;
			border-top:1px solid map-get($supporting-colors, 'smoke');
			&--title {
				@extend h3;
			}
			&--podcast_links {
				margin-top: 1rem;
				a {
					display: inline-block;
					margin-right: 0.5rem;
					img {
						width: 150px;
					}
					&.google {

					}
					&.itunes {

					}
				}
			}
		}
	}
}
/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */


/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* NEWS listing */
.news-listing-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.content-wrapper {
		margin-bottom: 3rem;
		@extend h3;
		@include media-breakpoint-up(md) {
			width:32%;
		}
		&.item-4, &.item-5 {
			@include media-breakpoint-up(md) {
				width:48.7%;
			}
		}
		.content-item {
			&--image {
				margin-bottom: 1rem;
				overflow: hidden;
				height: 200px;
				background-color: white;
				border:10px solid white;
				@include transition(all .3s ease);
				&:hover {
					border:10px solid map-get($theme-colors, 'blueberry');
				}
				@include media-breakpoint-up(md) {
					height: 250px;
				}
				@include media-breakpoint-up(lg) {
					height: 300px;
				}
				
				a {
					display: block;
					img {
						width: 0 auto;
						@include media-breakpoint-up(md) {
							width: 100%;
						}
					}
				}
			}
		}
	}
}

/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */


/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* SINGLE posts */
.single-podcasts, .single-news {
	article {
		.back-btn {
			color: map-get($theme-colors,'blueberry');
		}
		header {
			margin-top: 2rem;
		}
		.entry-content {
			margin-top: 2rem;
			&--links {
				a {
					margin-right: 0.5rem;
					display: inline-block;
					img {
						width: 150px;
					}
				}
			}
			&--featured-image {
				margin-bottom: 1rem;
			}
		}
	}
}
/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */


/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* FAQs listing */
.faq-category-listing-wrapper {
	background-repeat: no-repeat;
    background-size: 180px;
    background-position: top center;
    padding-top: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include media-breakpoint-up(md) {
    	background-size: 50%;
    	background-position: top right;
    	padding-top: 0;
    }
	.faq-group {
		width: 48%;
		&:first-child,
		&:nth-child(2),
		&:nth-child(3) {
			width: 100%;
		}
		&--child{
			list-style: none;
  			padding: 0; 
		}
		&--item{

		}
	}
}
/* FAQ category page */
.faq-listing-nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;
	&--item{
		&.back {

		}
		&.expand-all {
			display: inline-block;
		}
		&.collpase-all {
			margin-left: 1.5rem;
			display: inline-block;
		}
	}
}
.faq-accordion {
	.faq {
		margin-bottom: 2rem;
		&--heading {
			&:hover {
				cursor: s-resize;
			}
		}
		&--body {
			padding:1rem 1.4rem;
			border-radius: 5px;
			background-color: map-get($supporting-colors,'superlightg');
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
}

/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */


/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* FIND MEETINGS PAGES/PLUGIN */
#fountainG {
	display: none;
	&:after {
		border: 6px solid white;
  		border-color: white transparent white transparent;
	}
}
.template-find-a-meeting, 
.page-manage-your-meeting-data,
.page-add-a-meeting-data,
.page-edit-a-meeting-data,
.page-cancel-a-meeting-data {
	.oa-tabs .nav-tabs .nav-item .nav-link.active, 
	.oa-tabs .nav-tabs .nav-item .nav-item.show, .oa-tabs .nav-tabs .nav-item .nav-link,
	.nav-select.mobile select {
		background-color: map-get($supporting-colors,'nude');
		border-color: map-get($supporting-colors,'nude');
		&:hover {
			background-color: map-get($supporting-colors, 'nude');
			border-color: map-get($supporting-colors, 'nude');
		}
	}
	.main-wrapper {
		background-color: map-get($supporting-colors,'nude');
	}
}
.template-find-a-meeting {
	.page-header {
		margin-top: 0;
		@include media-breakpoint-up(md) {
			margin-top: 3rem;
		}
	}
	
	.main-wrapper {
		.main {
			padding-top: 3rem !important;
			background-size: 40%;
    		background-repeat: no-repeat;
    		background-position: right 4rem;
    		@media (max-width: 768px) { 
    			background: none !important;
    		}
		}

		.text-content {
			width: 100%;
			margin-top: 30px;
			@include media-breakpoint-up(md) {
				width: 50%;
			}
		}
	}
	&.results-loaded {
		/*results page does not have an image */
		.main-wrapper .main {
			background: none !important;
		}
		/*also hide body content if any*/
		.text-content {
			display: none;
		}
		#fountainG {
			display: block;
		}
	}
	.tools {
		display: none;
		@include media-breakpoint-up(md) {
			text-align: right;
			display: block;
		}
		a {
			display: inline-block;
			@include media-breakpoint-up(md) {
				margin-left: 15px;
			}
		}
	}
	.modal-footer {
		button {
			@extend .smoky;
		}
	}
	
	.no-results {
		background-image: url('#{$image-path}/no-results.png');
		background-size: 100px auto;
		background-repeat: no-repeat;
		padding-top: 2rem;
		margin-top: 3rem;
		padding-bottom: 10rem;
		padding-left: 150px;
	}
}
.find-a-meeting-results {
	.results-header {
		h3 {
			margin-top: 10px;
		}
		select {
			@extend .select-field;
    		@extend .select-field--white;
    		width: 100%;
    		@include media-breakpoint-up(md) {
    			width: auto;
    		}

		}
	}
	.meeting {
		border-radius: 5px;
		background-color: white;
		padding:2rem;
		margin-bottom: 1rem;
		&--counter {
			@include font-size(48);
			line-height: 3rem;
			@extend strong;
			color: map-get($theme-colors, 'gold');
		}
		&--date {
			@extend h4;
		}
		&--name, &--address {
			line-height: normal;
		}
		&--detail-toggle{
			margin-top: 2rem;
			a {
				cursor: s-resize;
				&:after {
					padding-left: 10px;
    				padding-top: 3px;
					@include icon();
      				content: '\f107';
				}
				&.open-details {
					cursor: n-resize;
					&:after {
						@include icon();
      					content: '\f106';
      				}
				}
			}
		}
		&--links {
			text-align: center;
			border-top: 1px solid map-get($theme-colors, 'base');
			padding-top:2rem;
			margin-top: 2rem;
			@include media-breakpoint-up(md) {
				text-align: right;
				border:none;
				padding-top: 0;
				margin-top: 0;
			}
			.modal-content {
				text-align: left;
			}
			a {
				color: map-get($theme-colors, 'base');
				/*display: inline-block;*/
				@include font-size(20);
				margin-right: 10px;
				cursor: pointer;
				&:hover {
					color: map-get($theme-colors, 'blueberry');
				}
			}
			.mobile-only {
				display: block;
				@include media-breakpoint-up(md) {
					display: none;
				}
			}
		}
		&--icon {
			text-align: center;
		}
	}
}
/*find a meeting add/cancel/edit pages*/
.find-a-meeting-manage {

}
/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */


/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* QUIZZES */
.quizzes {

	&--questions {
		&:before,
		&:after {
			content: "";
		    position: absolute;
		    height: 1px;
		    background-color: map-get($supporting-colors, 'ocean');
		}
		&:before {
			right: 15px;
		    left: 15px;
		    top: -4px;
		}
		&:after {
			right: 10px;
		    left: 10px;
		    top: -2px;
		}

		.quiz-question {
			@include font-size(24);
			@include media-breakpoint-up(md) {
				@include font-size(36);
			}
			line-height: normal;
			margin-bottom: 2rem;
		}

		.quiz-quote {
			display: block;
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: map-get($theme-colors, 'base');
			padding-top: 2rem;
			margin-top: 4rem;
			position: relative;
			
			&:before {
				content: '\201C';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 5rem;
				height: 5.5rem;
				background-color: map-get($supporting-colors, 'ocean');
				@include font-size(78);
				@include Portrait-RegularItalic-Web();
				color: map-get($theme-colors, 'base');
				text-align: center;
			}
			
			&--text {
				@extend blockquote;
				text-align: center;
			}
			&--attribute {
				@include font-size(14);
			}
		}
	}
	.quiz-card,
	.quiz-resources,
	.results-card {
		margin-bottom: 2rem;
		border-radius: 5px;
		position: relative;
		padding: 2rem 3rem;
		text-align: center;
	}
	.quiz-card {
		background-color: map-get($supporting-colors, 'ocean');
	}
	.results-card {
		background-color: map-get($theme-colors, 'peach');
		color: white;
		.results-text {
			margin-top: 2rem;
			@include font-size(20);
		}
	}
	.quiz-btn,
	.quiz-btn-next {
		@include media-breakpoint-up(md) {
			padding: 0.9rem 1.4rem 0.8rem;
			@include font-size(24);
			min-width: 120px;
		}
		&:hover {
			background-color: map-get($button-colors, 'smoky');
			box-shadow: 0 3px map-get($button-colors, 'smoky-highlight');
		}
	}
	.quiz-resources {
		background-color: map-get($supporting-colors, 'superlightg');
		&--body {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: center;
			margin-top: 2rem;
			@include media-breakpoint-up(md) {
				flex-direction: row;
			}
			.resource {
				margin-bottom: 1rem;
				@include media-breakpoint-up(md) {
					width: 50%;
					text-align: left;
					margin-bottom: 0;
				}
				&--icon {
					@include font-size(20);
					@include media-breakpoint-up(md) {
						text-align: right;
					}
				}
				&--link {
					a {
						@extend h4;
					}
				}
				&--type{

				}
			}
		}

	}
}

/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */

/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* DOCUMENT LIBRARY */

.oaresources {
	.posts-table-controls {
		&.posts-table-above {
			background-color: map-get($supporting-colors,'steal');
		}
		padding: 1rem;
		border-radius: 5px;
		.posts-table-select-filters {
			width: 100%;
			label {
				width: 100%;
				@include media-breakpoint-up(md) {
					width: 5em;
				}
			}
			select {
				@extend .select-field;
				max-width: 100%;
				width: 100%;
				@include media-breakpoint-up(md) {
					margin-right: 10px;
					width: 30%;
				}
			}
			select[name="ptp_filter_file_format_category"] {
				@media (max-width: 991px) { 
					/*margin-left: 5rem;*/
					margin-top: 10px;
				}
			}
			.posts-table-reset {
				a {
					&:before {
						@include icon();
				        content: "\f01e";
				        @include font-size(16);
				        position: relative;
				        margin-right: 5px;
					}
				}
			}
		}
		.dataTables_length {
			float: none;
			margin-top: 10px;
			label {
				width: 100%;
				@include media-breakpoint-up(md) {
					width: auto;
				}
			}
			select {
				@extend .select-field;
				@include media-breakpoint-up(md) {
					margin-left: 2.25rem;
				}
				max-width: 100%;
			}
		}
		.dataTables_filter {
			margin-top: 10px;
			label {
				width: 100%;
			}
			input {
				@extend .input-field;
				width: 100%;
				@include media-breakpoint-up(md) {
					width: 50%;
					margin-left: 1.56rem;
				}
			}
		}
		.paging_simple_numbers {
			margin-top: 2rem;
			.paginate_button {
				display: inline-block;
				margin-right: .5rem;
				@extend strong;
				margin-right: 1rem;
				color: map-get($theme-colors, 'base');
				cursor: pointer;
				padding: 8px 0.5rem 6px;
				&.current {
					color: white;
					@extend .btn;
					@extend .smoky;
				}
				&.previous,
				&.next {
					@include media-breakpoint-up(md) {
						display: none;
					}
					&.disabled {
						opacity: 0.3;
					}
				}
			}
			span {
				@media (max-width: 991px) { 
					display: none;
				}
			}
		}
	}
	table.dataTable {
		margin-top: 1rem;
		margin-bottom: 1rem;
		background-color: white;
		border-radius: 5px;
		th, td {
			padding: 0.5rem 1rem;
			/*vertical-align: top;*/
		}
		tr {
			&.odd {
				background-color: map-get($supporting-colors,'superlightg');
			}
			&:hover {
				background-color: map-get($supporting-colors,'pear');
			}
		}
		th {
			position: relative;
			cursor: pointer;
			padding-top: 1rem;
			padding-bottom: 1rem;
			@extend strong;
			&:before {
				@include icon();
				@include font-size(14);
				position: relative;
				margin-right: 5px;

			}
			&.sorting {
				&:before {
					content: "\f0dc";
					color: map-get($supporting-colors,'steal');
				}
			}
			&.sorting_asc {
				&:before {
					content: "\f15d";
					color: map-get($theme-colors,'base');
				}
			}
			&.sorting_desc {
				&:before {
					content: "\f15e";
					color: map-get($theme-colors,'base');
				}
			}
		}	
		.col-file_format_category,
		.col-document_button {
			text-align: center;
		}
		.col-file_format_category {
			display: none;
			@include media-breakpoint-up(md) {
				display: table-cell;
			}
		}
	}
}


/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */


/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* SEARCH RESULTS */
.gsc-control-cse {
	border-radius: 5px;
}

/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* //END */




/* >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< >< */
/* COMMON */
.post-subheader {
	display: flex;
	justify-content: space-between;
}
.page-nav {
	margin-top: 3rem;
	.nav-links > *,
	p > * {
		display: inline-block;
		margin-right: .5rem;
		@extend strong;
		color: map-get($theme-colors, 'base');

	}

	.current {
		color: white;
		@extend .btn;
		@extend .small;
		@extend .smoky;
	}
}